<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Hello there!</title>
</head>
<body>
<h1>Albums</h1>

    <form action="addAlbum" method="post">
        <fieldset>
            <legend>Add Album</legend>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Album Title">
            <label for="artist">Artist</label>
            <input type="text" name="artist" placeholder="Album Artist">
            <label for="numSongs">Number of songs</label>
            <input type="number" name="numSongs" placeholder="# of Songs">
            <label for="length">Album Duration</label>
            <input type="number" name="length" placeholder="Album Duration">
            <label for="imgUrl">Album Cover image URL</label>
            <input type="text" name="imgUrl" placeholder="Image Url">

            <input type="submit" value="Add Album">

        </fieldset>
    </form>
<ul th:each="album : ${albums}">
    <img th:src="${album.imgUrl}" th:alt="${album.title}">
    <li th:text="${'Title: ' + album.title}"></li>
    <li th:text="${'Artist: ' + album.artist}"></li>
    <li th:text="${'Listen Duration: ' + album.length + ' minutes'}"></li>
   <li th:text="${'Songs: ' + album.numSongs}"></li>
    <br>
    <div>Songs</div>
    <ul th:each = "song : ${album.songsInAlbum}">
        <li th:text="${song.songTitle}"></li>
    </ul>

    <form action="addsong" method="post">
        <fieldset>
            <legend>Add song to Album</legend>
            <label for="songTitle">Song Title</label>
            <input type="text" name="songTitle" id="songTitle" placeholder="SongTitle">
            <label for="songLength">Song Length</label>
            <input type="text" name="songLength" id="songLength" placeholder="songLength">
            <label for="trackNumber"># of song</label>
            <input type="text" name="trackNumber" id="trackNumber" placeholder="# of song">
            <input type="hidden" name="onAlbum" id="onAlbum" th:value="${album.title}" >

            <input type="submit" value="Add Album">
        </fieldset>
    </form>

</ul>


</body>